---
cp_hosts:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - name: '{{ list[0]|trim() }}'
    ip_address: '{{ list[1]|trim() }}'
    group: '{{ list[2]|trim() }}'
{%   endif %}
{% endfor %}
